@using DotNetCoreRazor_MSGraph
@inject DotNetCoreRazor_MSGraph.Graph.GraphProfileClient GraphProfileClient
@{
    var presenceCssClass = await GraphProfileClient.GetPresenceCssClass();
    var userProfile = await GraphProfileClient.GetUserProfile();
}

<ul class="nav navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
           <img src="data:image/jpeg;base64, @await GraphProfileClient.GetUserProfileImage()" 
            class="user-photo-small @presenceCssClass nav-profile-photo rounded-circle align-self-center mr-2" />
            <!-- User Presence Availability: @presenceCssClass -->
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <h5 class="dropdown-item-text mb-0">@userProfile.DisplayName</h5>
            @* <p class="dropdown-item-text text-muted mb-0">@User.GetUserGraphEmail()</p> *@
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
}
</ul>