@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core and Microsoft Graph";
}

<div>
    <h1>ASP.NET Core and Microsoft Graph</h1>
    <br />
    @if (User.Identity.IsAuthenticated)
    {
        <h4>
            @if (Model.UserPhoto != null)
            {
                <img src="data:image/jpeg;base64, @Model.UserPhoto" class="user-photo nav-profile-photo rounded-circle align-self-center mr-2" />
            }
            else
            {
                <p>No Pic available for this user. Upload a pic for this user in the Azure portal.</p>
            }
            Welcome @Model.UserDisplayName!</h4>
    }
    else
    {
        <a class="btn btn-primary btn-large" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Click here to sign in</a>
    }
</div>